{% extends "base.html" %}

{% block content %}


<a class="btn btn-primary" href="{% url 'app:add_veiculo' %}">add</a>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col" class="text-center">#</th>
                <th scope="col" class="text-center">Modelo</th>
                <th scope="col" class="text-center">Ano</th>
                <th scope="col" class="text-center">Disponivel</th>
                <th scope="col" class="text-center">Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for carro in carros %}    
                    <tr>
                        <td class="text-center">{{ forloop.counter }}</td>
                        <td class="text-center">{{ carro.modelo }}</td>
                        <td class="text-center">{{ carro.ano }}</td>
                        <td class="text-center">{{ carro.disponivel }}</td>
                        <td class="text-center">
                            <a type="button" class="btn btn-warning" 
                            href="{% url 'app:remove_veiculo' carro.id %}">remove
                            </a>
                        <td class="text-center">
                            <a type="button" class="btn btn-info"
                            href="{% url 'app:edit_veiculo' carro.id %}">edit
                            </a>
                    </tr>
            {% endfor %}


        </tbody>
    </table>

{% endblock %}