{% extends "base.html" %}

{% block content %}


<a class="btn btn-primary" href="{% url 'app:add_veiculo' %}">Novo Veículo</a>



    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col" class="text-center">#</th>
                <th scope="col" class="text-center">Modelo</th>
                <th scope="col" class="text-center">Ano</th>
                <th scope="col" class="text-center">Disponivel</th>
                <th scope="col" class="text-center">Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for carro in carros %}    
                    <tr>
                        <td class="text-center">{{ forloop.counter }}</td>
                        <td class="text-center">{{ carro.modelo }}</td>
                        <td class="text-center">{{ carro.ano }}</td>
                        
                        {% if carro.disponivel %}
                        <td class="text-center"><i class="bi bi-check-square-fill"></i></td>
                        {% else %}
                        <td class="text-center"><i class="bi bi-dash-square-fill"></i></td>
                        {% endif %}
                        <td class="text-center">
                            <a type="button" class="btn btn-warning"
                                href="{% url 'app:edit_veiculo' carro.id %}">
                                <i class="bi bi-pencil"></i>
                            </a>
                            <a type="button" 
                                class="btn btn-danger" 
                                href="{% url 'app:remove_veiculo' carro.id %}">
                                <i class="bi bi-trash-fill"></i>
                            </a>
                            <a type="button" class="btn btn-warning"
                                href="{% url 'app:detalhes_veiculo' carro.id %}">
                                detalhes
                            </a>
                    </tr>
            {% endfor %}


        </tbody>
    </table>

{% endblock %}